/* Section Styles */

.hidden {
  display: none;
}

.page,
.viewer {
  position: relative;
  display: block;
  float: left;
  overflow: auto;
  box-sizing: border-box;
}

.page {
  border-right-style: solid;
  border-right-width: 10px;
}

.content-window {
  overflow: auto;
  height: 93vh;
}

.content {
  text-align: center;
}

.block {
  position: relative;
  overflow: auto;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding: 0em 1em;
}

.put-left,
.put-top,
.put-right,
.put-bottom {
  position: absolute;
}

.put-left { left: 0px; }
.put-top { top: 0px; }
.put-right { right: 0px; }
.put-bottom { bottom: 0px; }

.keep-left,
.keep-top,
.keep-right,
.keep-bottom {
  position: fixed;
}

.keep-left { left: 0px; }
.keep-top { top: 0px; }
.keep-right { right: 0px; }
.keep-bottom { bottom: 0px; }

.page,
.viewer,
.code-viewer {
  vertical-align: top;
  height: 100vh;
}

.page,
.footer.keep-bottom,
.footer.put-bottom {
  width: 35%;
}

.block .viewer-nav {
  margin: 0em -1em;
}

.viewer-nav ul {
  padding: 0em;
  margin: 0em;
}

.viewer-nav .nav-item__link,
.viewer-nav .nav-item__button {
  cursor: pointer;
  justify-content: center;
  font-size: 2em;
  padding: 1em 1em;
}

.viewer-nav .nav-item__link:hover,
.viewer-nav .nav-item__button:hover,
.viewer-nav .nav-item.active,
.viewer-nav .nav-item.active {
  background-color: #111;
  transition: background-color 0.25s;
}

.viewer,
.code-viewer {
  width: 65%;
}

.viewer {
  /*padding: 1em;*/
}

.code-viewer > iframe {
  display: block;
  border: none;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 7vh;
}

.footer .block {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

/* Theme Styles */

/*
  font: monospace;
  font-size: 1em;
  primary: #111;
  secondary: #222;
  accent-1: #ccc;
  accent-2: #28f;
  accent-3: #f82;
  shade-3: #640;
*/

.theme_font {
  font-family: sans-serif;
  font-size: 1em;
}

.theme_bg {
  background-color: #111;
}

.theme_bg--secondary {
  background-color: #222;
}

.theme_bd {
  border-color: #111;
}

.theme_bd--secondary {
  border-color: #222;
}

.theme_txt,
.theme_txt--bleed header,
.theme_txt--bleed section,
.theme_txt--bleed p,
.theme_txt--bleed a,
.theme_txt--bleed h1,
.theme_txt--bleed h2,
.theme_txt--bleed h3,
.theme_txt--bleed h4,
.theme_txt--bleed h5,
.theme_txt--bleed h6,
.theme_txt--bleed ul {
  color: #ccc;
}

.theme_txt,
.theme_txt--bleed a {
  color: #f82;
}

.theme_txt,
.theme_txt--bleed a:hover {
  color: #640;
}

.theme_txt,
.theme_txt--bleed a:hover {
  color: #640;
  text-decoration: line-through;
}

/* Uniue Styles */

.copyright {
  vertical-align: middle;
}

/* Element Styles */

a {
  text-decoration: none;
}

a:hover,
a:visited {
  text-decoration: line-through;
}

ul {
  list-style-type: decimal;
  padding-left: 2em;
  margin: 1em;
}