/* Section Styles */

.hidden {
  display: none;
}

.page,
.viewer {
  position: relative;
  display: block;
  float: left;
  overflow: auto;
  box-sizing: border-box;
}

.page {
  border-right-style: solid;
  border-right-width: 10px;
}

.content-window,
.content {
  position: relative;
  display: inline-block;
}

.content-window {
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 93vh;
  margin-right: -1em;
}

.content {
  text-align: center;
}

.block {
  position: relative;
  overflow: visible;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 100%;
}

.content-spacing {
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}

.put-left,
.put-top,
.put-right,
.put-bottom {
  position: absolute;
}

.put-left { left: 0px; }
.put-top { top: 0px; }
.put-right { right: 0px; }
.put-bottom { bottom: 0px; }

.keep-left,
.keep-top,
.keep-right,
.keep-bottom {
  position: fixed;
}

.keep-left { left: 0px; }
.keep-top { top: 0px; }
.keep-right { right: 0px; }
.keep-bottom { bottom: 0px; }

.page,
.viewer,
.code-viewer {
  vertical-align: top;
  height: 100vh;
}

.page,
.footer.keep-bottom,
.footer.put-bottom {
  width: 25%;
}

.viewer,
.code-viewer {
  width: 75%;
}

.viewer {
  /*padding: 1em;*/
}

.viewer .title--placeholder {
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
  top: 45%;
}

.code-viewer > iframe {
  display: block;
  border: none;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 7vh;
}

.footer .block {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

/* Theme Styles */

/*
  font: monospace;
  font-size: 1em;
  primary: #111;
  secondary: #222;
  accent-1: #ccc;
  accent-2: #28f;
  accent-3: #f82;
  shade-3: #640;
*/

.theme_font {
  font-family: sans-serif;
  font-size: 1em;
}

.theme_bg {
  background-color: #111;
}

.theme_bg--secondary {
  background-color: #222;
}

.theme_bd {
  border-color: #111;
}

.theme_bd--secondary {
  border-color: #222;
}

.theme_txt,
.theme_txt--bleed header,
.theme_txt--bleed section,
.theme_txt--bleed p,
.theme_txt--bleed a,
.theme_txt--bleed h1,
.theme_txt--bleed h2,
.theme_txt--bleed h3,
.theme_txt--bleed h4,
.theme_txt--bleed h5,
.theme_txt--bleed h6,
.theme_txt--bleed ul {
  color: #ccc;
}

/* Uniue Styles */

.copyright {
  vertical-align: middle;
}

/* Element Styles */

ul {
  list-style-type: decimal;
  padding-left: 2em;
  margin: 1em;
}