<!DOCTYPE html>
<html id="topOfPage" lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Michael Goldspinner | Web Developer</title>

    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" href="css/vendor/lightfair.css" />

    <!-- User Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/modifiers.css"/>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/document-1.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/list-nav.css"/>

    <!-- Vendor Scripts -->
    <script src="js/vendor/vue-2.5.17.js"></script>
    <!--<script src="js/vendor/vue.min.js"></script>-->
    <script src="js/vendor/jquery-2.1.4.min.js"></script>
    <script src="js/vendor/highlight.pack.js"></script>


    <!-- User Scripts -->
    <script src="js/init-vue.js"></script>
    <script src="code/index.js"></script>
    <script src="posts/index.js"></script>
    <script src="js/config.js"></script>
    <script src="js/functions.js"></script>
  </head>

  <body class="theme_font theme_bg theme_txt--bleed">
    <div id="vue-home">
      <main class="theme_bg--secondary theme_bd page" :style="pageWidth">
        <div class="content-window">
          <header class="block clearfix">
            <h1 class="logo">Michael Goldspinner</h1>
          </header>

          <div class="content">
            <section class="block">
              <button v-on:click="p.w += 5; v.w -= 5;">Expand</button>
              <button v-on:click="p.w -= 5; v.w += 5;">Shrink</button>
              <button v-on:click="goToPreviousPost">Previous Post</button>
              <button v-on:click="changePostViewerFontSize( -0.1 )">- Font Size</button>
              <button v-on:click="changePostViewerFontSize( 0.1 )">+ Font Size</button>
            </section>

            <section class="block"><p>Some text about me and what I do as filler content.</p></section>

            <section id="PostList" class="block">
              <nav class="viewer-nav">
                <ul>
                  <link-item text="Posts" :class="checkCurrentView(0) || checkCurrentView(2) ? 'active' : 'inactive'" @click.native="viewerLinkHandler(0)"></link-item>
                  <link-item text="Code" :class="checkCurrentView(1) || checkCurrentView(3) ? 'active' : 'inactive'" @click.native="viewerLinkHandler(1)"></link-item>
                </ul>
              </nav>
            </section>
          </div>
        </div>

        <footer id="PageFooter" class="footer keep-bottom theme_bg" :style="pageWidth">
          <div class="block">
            <nav class="links">
              <ul class="x">
                <li><span><a title="Link to my Linkedin profile." target="_blank" href="https://www.linkedin.com/"><span>Linkedin</span></a></span></li>
                <li><span><a title="Link to my Github profile." target="_blank" href="https://github.com/Emgo-Dev"><span>Github</span></a></span></li>
                <li><span><a title="Link to my Codepen profile." target="_blank" href="https://www.codepen.io/Emgo/"><span>Codepen</span></a></span></li>
              </ul>
            </nav>
          </div>

          <div class="block"><copyright>Michael Goldspinner</copyright></div>
        </footer>
      </main>

      <!-- Display a Viewer container for links -->
      <viewer v-if="checkCurrentView(0) || checkCurrentView(1)" :style="viewerWidth">
        <!-- If Viewer Link Hander #1 is clicked, display first collection of links -->
        <link-view v-if="checkCurrentView(0)" :list="posts">
          <link-item v-for="item of posts" @anchor-click="postLinkHandler" @anchor-inner-click="postLinkHandler" :key="item.id" :data-id="item.id" :file="item.file" :text="item.text" :href="item.href"></link-item>
        </link-view>

        <!-- If Viewer Link Hander #2 is clicked, display second collection of links -->
        <link-view v-else-if="checkCurrentView(1)" :list="snippets">
          <link-item v-for="item of snippets"  @anchor-click="codeLinkHandler" @anchor-inner-click="codeLinkHandler" :key="item.id" :file="item.file" :text="item.text" :href="item.href"></link-item>
        </link-view>
      </viewer>

      <!-- Display a Viewer container for post html -->
      <viewer v-if="checkCurrentView(2)" class-name="post-viewer" v-html="viewer.post.content" :style="viewerWidth + ' ' + viewerFontSize"></viewer>

      <!-- Display a Viewer container for code html -->
      <code-viewer v-else-if="checkCurrentView(3)" class-name="code-viewer" :src="viewer.code.src" :style="viewerWidth"></code-viewer>
    </div>

    <!-- VueJS Components -->
    <script src="src/components/link-item.js"></script>
    <script src="src/components/link-view.js"></script>
    <script src="src/components/code-view.js"></script>
    <script src="src/components/viewer.js"></script>
    <script src="src/components/copyright.js"></script>
  </body>
</html>
