<!DOCTYPE html>
<html id="topOfPage" lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Michael Goldspinner | Web Developer</title>

    <!-- Vendor Stylesheets -->

    <!-- User Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/modifiers.css"/>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/document-1.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/list-nav.css"/>

    <!-- Vendor Scripts -->
    <script src="js/vendor/vue-2.5.17.js"></script>
    <!--<script src="js/vendor/vue.min.js"></script>-->
    <script src="js/vendor/jquery-2.1.4.min.js"></script>
    <script src="js/vendor/showdown.min.js"></script>

    <!-- User Scripts -->
    <script src="code/index.js"></script>
    <script src="posts/index.js"></script>
    <script src="js/init-vue.js"></script>
  </head>

  <body class="theme_font theme_bg theme_txt--bleed">
    <main id="v" class="theme_bg--secondary page">
      <div class="content-window">
        <header class="block clearfix">
          <h1 class="logo">Michael Goldspinner</h1>
        </header>

        <div class="content">
          <section class="block">
            <p>I'm a husband, christian, and front-end web developer.</p>
          </section>

          <section id="PostList" class="block theme_bg">
            <h1>Posts</h1>

            <nav class="list-nav"><ul><post-link v-for="post of posts" :key="post.id" :text="post.text" :href="post.href"></post-link></ul></nav>
          </section>

          <section id="CodeList" class="block">
            <h1>Code</h1>

            <nav class="list-nav"><ul><code-link v-for="snippet of snippets" :key="snippet.id" :file="snippet.file" :text="snippet.text" :href="snippet.href"></code-link></ul></nav>
          </section>
        </div>
      </div>

      <footer id="PageFooter" class="footer keep-bottom theme_bg">
        <div class="block">
          <nav class="links"><ul class="x">
            <!--<li><a href="#topOfPage">Back To Top</a></li>
            <li><a href="#">Development Notes</a></li>-->
            <li><a title="Link to my Linkedin profile." target="_blank" href="https://www.linkedin.com/in/michael-goldspinner/">Linkedin</a></li>
            <li><a title="Link to my Github profile." target="_blank" href="https://github.com/Emgo-Dev">Github</a></li>
            <li><a title="Link to my Codepen profile." target="_blank" href="https://www.codepen.io/Emgo/">Codepen</a></li>
          </ul></nav>
        </div>

        <div class="block"><copyright business="Michael Goldspinner"></copyright></div>
      </footer>
    </main>

    <div id="ajaxContent" class="viewer">
      <h1>Post/Demo Viewer</h1>

      <p>Click a Link to the left.</p>
    </div>

    <!-- VueJS Components -->
    <script src="src/components/post-link.js"></script>
    <script src="src/components/post-button.js"></script>
    <script src="src/components/code-link.js"></script>
    <script src="src/components/all-link.js"></script>
    <script src="src/components/copyright.js"></script>
  </body>
</html>
