<!DOCTYPE html>
<html id="topOfPage" lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Michael Goldspinner | Web Developer</title>

    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" href="css/vendor/lightfair.css" />

    <!-- User Stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/modifiers.css"/>
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/document-1.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/component/normal-list-sidebar.css"/>
    <link rel="stylesheet" type="text/css" href="css/scrolldown-notifier.css" />

    <!-- Vendor Scripts -->
    <script src="js/vendor/vue-2.5.17.js"></script>
    <!--<script src="js/vendor/vue.min.js"></script>-->
    <script src="js/vendor/jquery-2.1.4.min.js"></script>
    <script src="js/vendor/highlight.pack.js"></script>

    <!-- User Scripts -->
    <script src="code/index.js"></script>
    <script src="posts/index.js"></script>
    <script src="js/config.js"></script>
    <script src="js/functions.js"></script>
  </head>

  <body class="theme_font theme_bg theme_txt--bleed">
    <div id="vue-home">
      <main class="theme_bg--secondary theme_bd page" :style="pageWidth">
        <div class="content-window">
          <header class="block clearfix">
            <h1 class="logo">Michael Goldspinner</h1>
          </header>

          <div class="content">
            <section class="block">
              <button v-on:click="page.width += 5; viewer.width -= 5;">Expand</button>
              <button v-on:click="page.width -= 5; viewer.width += 5;">Shrink</button>
              <button v-if="viewer.view === 1" v-on:click="goToPreviousPost">Previous Post</button>
              <button v-else v-on:click="goToPreviousCode">Previous Code</button>
              <button v-on:click="changePostViewerFontSize( -0.1 )">- Font Size</button>
              <button v-on:click="changePostViewerFontSize( 0.1 )">+ Font Size</button>
            </section>

            <section class="block"><p>Some text about me and what I do as filler content.</p></section>

            <section class="block">
              <sidebar-post-list :list="posts" :current-post="viewer.post.current" @anchor-click="postLinkHandler" @anchor-inner-click="postLinkHandler"></sidebar-post-list>
            </section>

            <section class="block">
              <sidebar-code-list :list="snippets" @anchor-click="codeLinkHandler" @anchor-inner-click="codeLinkHandler"></sidebar-code-list>
            </section>
          </div>
        </div>

        <footer id="PageFooter" class="footer keep-bottom theme_bg" :style="pageWidth">
          <scrolldown-notifier :class="pageHeight > 850 ? 'active' : 'inactive'">Scroll Down</scrolldown-notifier>

          <div class="block">
            <nav class="links">
              <ul class="x">
                <li><span><a title="Link to my Linkedin profile." target="_blank" href="https://www.linkedin.com/"><span>Linkedin</span></a></span></li>
                <li><span><a title="Link to my Github profile." target="_blank" href="https://github.com/Emgo-Dev"><span>Github</span></a></span></li>
                <li><span><a title="Link to my Codepen profile." target="_blank" href="https://www.codepen.io/Emgo/"><span>Codepen</span></a></span></li>
              </ul>
            </nav>
          </div>

          <div class="block"><copyright>Logo Text</copyright></div>
        </footer>
      </main>

      <!-- Display a Viewer container for links -->
      <viewer v-if="viewer.post.current === '' && viewer.code.current === ''" :style="viewerWidth"></viewer>

      <!-- Display a Viewer container for post html -->
      <viewer v-if="checkCurrentView(0)" class-name="post-viewer" v-html="viewer.post.content" :style="viewerWidth + ' ' + viewerFontSize"></viewer>

      <!-- Display a Viewer container for code html -->
      <code-viewer v-else-if="checkCurrentView(1)" class-name="code-viewer" :src="viewer.code.src" :style="viewerWidth"></code-viewer>
    </div>

    <!-- VueJS Components -->
    <script src="components/sidebar-post-list.js"></script>
    <script src="components/sidebar-code-list.js"></script>
    <script src="components/scrolldown-notifier.js"></script>
    <script src="components/link-item.js"></script>
    <script src="components/code-item.js"></script>
    <script src="components/link-view.js"></script>
    <script src="components/code-view.js"></script>
    <script src="components/viewer.js"></script>
    <script src="components/copyright.js"></script>

    <!-- User Scripts -->
    <script src="js/vue-home.js"></script>
  </body>
</html>
